<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link" href=""><span class="title">StudyNotes</span></a></div>
  </header>
  <div class="content-container">
    
    <main id="content" class="content-area">
      <div class="blocker" *ngIf="!isCollapsed && innerWidth < 768" (click)="closeSideBar()"></div>
      <router-outlet></router-outlet> 
    </main>

    <clr-vertical-nav id="nav" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="isCollapsed">
      <a class="nav-link" clrVerticalNavLink routerLink="notebooks" routerLinkActive="active">
        <clr-icon shape="book" clrVerticalNavIcon></clr-icon> NoteBooks
      </a>
      <a class="nav-link" clrVerticalNavLink routerLink="new-notes" routerLinkActive="active">
        <clr-icon shape="note" clrVerticalNavIcon></clr-icon> New Notes
      </a>
      <a class="nav-link" clrVerticalNavLink routerLink="login" routerLinkActive="active">
        <clr-icon shape="logout" clrVerticalNavIcon></clr-icon> Logout
      </a>
    </clr-vertical-nav>
  </div>
</div>



