<div class="main-container">
  <header class="header-7"><div class="branding"><a class="nav-link" href=""><span class="title">StudyNotes</span></a></div></header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
              <a class="nav-link">Link 1</a>
              <a class="nav-link">Link 2</a>
              <a class="nav-link">Link 3</a>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>



